.parent{
    background-color: white;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    height: 500px;
}
*/ block one */

.child{
    position: relative;
    left: 24px;
    background-color: grey;
    height: 600px;
}





*/ block two */

.child-1{
background-color: white;
height: 200px;
padding-block-start: 32px;
}





*/ block three */


.child-2{
    background-color: grey;
    height: 400px;
}
