.body{
    background-color: honeydew;
}
.container
{
    position: relative;
    background-color: beige;
}

*/ part two */

.placeholder 
{
    background-color: grey;
}

.banner {
    width: 60%;
    display: inline-block;
    position: relative;
    margin-left: auto;
}