body{
    background-color: aliceblue;
}

.slogan{
    font-size: 30px;
    color: black;
    }


.box-one{
    color: grey;
    display: flex;
    text-align: center;
}

.header-two{
    font-size: 24px;
    text-align:right;
    float: right;
}

.students-photo{
    width: 60%;
    
}

