body{
    background-color: aliceblue;
}

.slogan{
    font-size: 30px;
    color: black;
    }
.slogans{
    font-size: 30px;
    color:grey
}
.box-one{
    color: grey;
}

.header-two{
    font-size: 24px;
    text-align:right;
}

